# Project folder
cache/
/node_modules
package-lock.json

# third-party library

# install library lock file

# User-specific configurations
.idea/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml

# OS-specific files
.DS_Store
.DS_Store?
**/.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# vscode configurations
.vscode/
